<div id="<%= dom_id article %>">
<table class="mytable">
  <tr>
    <td>
          <strong>Title:</strong>
          <%= article.title %>
    </td>
    <td>
            <strong>Description:</strong>
            <%= article.description %>
    </td>
    </tr>
</table>
 

</div>
