<div class="container">

    <div class="jumbotron">
          <h1 class="mytitle"> Alpha Blog </h1>
            <h1 class="mytext"> 
            Hey !! Welcome to  <b>Alpha Blog<b/> we specialize in writing captivating stories and giving our audience accurate
            update about so many industries in the world eg Entertainment Industry, Oil Industry, Exchange Rates Updates,
            Kindly reach out to us if you need a service or an article that will blow the mind of your audience
            We look forward to working with you, please navigate through our page to see some of the top notch service we offer
            Bye!! for now <br></br>
            </h1>
            <div class="signUp-button">
                  <button type="submit" class="btn btn-success mybutton"> Sign Up !</button>
            </div>

     </div>
</div>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %>
<div id="page-content">

</div>

<footer id="sticky-footer" class="py-4 text-white-50">
    <div class="container text-center">
        <small>Copyright &copy;  Alpha Blog</small>
    </div>
</footer>