

*{
    box-sizing: border-box;
    }
    @font-face{
        font-family: roboto;
        src:url("./fonts/Roboto-Regular.ttf");
    }
    
    @font-face{
        font-family: Boogaloo;
        src:url("./fonts/Boogaloo-Regular.ttf");
    }
    @font-face{
        font-family: Khand;
        src:url("./fonts/Khand-Regular.ttf");
    }
    @font-face{
        font-family: Pacifico;
        src:url("./fonts/Pacifico-Regular.ttf");
    }
    
    @font-face{
        font-family: Tajawal;
        src:url("./fonts/Tajawal-Regular.ttf");
    }
.myNavBar{
    width: 100%;
    height: 70px;
    padding:15px;
    background-color: #000;
}

 .myul-list ul{
    list-style-type: none;
}

.myul-list ul li{
   margin: 5px;
   padding :5px;
   text-decoration: none !important;
}

.myul-list ul li a{
    text-decoration: none;
    color:white;
}
#logo{
    color:white !important;
} 


*{
    font-family: Khand !important;
}

.container{
    height: 100%;
}

.jumbotron{
    background-image:asset-url('writer.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    width: 100% !important;
    height: 100% !important;
}
.mytitle{
    color: white  !important;
    text-align: center;
    margin-bottom: -60px;
}

.mytext{
    color: white  !important;
    font-size: 30px !important;
    padding:  80px !important;
    margin-bottom: -80px;
}

.signUp-button{
    width: 200px !important;
    margin: auto !important;
}

.mybutton{
    font-size: 30px !important;
}

#sticky-footer{
    height:60px !important;
    padding: 20px;
    font-size: 20px;
    background-color: dimgrey;
    color:white;
    flex-shrink: none;
}
#page-content{
    flex: 1 0 auto;
}

.myCopyright{
    color: white !important;
}

.a-primary{
    color: white !important;
    text-decoration: none !important;
}
.showArticleButton{
    background-color: green !important;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none !important;
}

.showArticleButton:hover{
    background-color: black !important;
    color: white;
}

.backToArticles{
    background-color: green !important;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none !important;

}

.backToArticles:hover{
    background-color: darkorchid !important;
    color: white;
}

.mytable, td{
    padding: 20px;
    border: 1px solid black;

}

.indexshowArticle{
    background-color: green !important;
    color: white;
    border-radius: 10px;
    text-decoration: none !important;
    padding: 2px;
    font-size: 12px;
}

.indexshowArticle:hover{
    color:darkorange;
}

.Articlecontainer{
    width: 400px !important;
    margin: auto !important;
}
.tableTitle, tr td{
    border-collapse: collapse !important;
    border: none !important;
}
.myNewArticle{
    text-decoration: none !important;
    margin-left: 120px;
    background-color: green;
    color:white;
    padding: 7px;
    border-radius: 10px;
}
.myNewArticle:hover{
    color:white;
    background-color: brown;
}

.newArticleContainer{
    width: 300px !important;
    margin: auto !important;

}
.createArticleButton{
    background-color: green !important;

}

.backtoArticleButton{

    background-color: grey !important;
    color: white !important;
    text-decoration: none !important;
    padding: 4px !important;
    border-radius: 8px !important;
}
.backtoArticleButton:hover{
    background-color: brown !important;
    color: white !important;
}

input[type=text]{
    width: 300px !important;
}

textarea#message_area {
    width: 300px !important;
    height: 200px !important;
  }

  .showArticleContainer{
    width:  500px !important;
    margin: auto !important;
    padding: 30px !important;
  }

  .showArticleEditButton{
    background-color: green !important;
    color: white !important;
    text-decoration:  none !important;
    padding: 5px !important;
    border-radius: 10px !important;
  }

  .showArticleContainer .showArticleListing{
    margin-bottom: 40px;
  }
  .showArticleBackToArticleButton{
    background-color: green !important;
    color: white !important;
    text-decoration:  none !important;
    padding: 5px !important;
    border-radius: 10px !important;
  }
  .showArticleAndBackToArticleDivButton{
    margin-bottom: 40px !important;
  }

  .ArticleListingAndAboutPage{
    width: 500px !important;
    margin: auto !important;
    padding: 70px !important;

  }

  .homeArticleListing{
    font-size:  30px !important;
    text-decoration:  none !important;
  }
  .homeAboutPage{
    font-size:  30px !important;
    text-decoration:  none !important;
  }




